###################################################################
# Welcome to Paap Jekyll Theme 
# Developed by https://themeix.com
# Version : 1.0.0
###################################################################
title: Catch Fire
email: hello@catchfire.show
description: >- # this means to ignore newlines until "baseurl:"
  Discover your career path.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://catchfire.show" # the base hostname & protocol for your site, e.g. https://example.com

exclude:
  - '*.zip'
  - '*.psd'
  - package-lock.json
  - package.json
  - readme.md
  - Gemfile
  - Gemfile.lock
  - gulpfile.js
  - docs/
  - node_modules
  - .sass-cache

# Site Settings
twitter_username: getcatchfire
logo_url: /assets/images/show_img/logo.png
sticky_logo_url: /assets/images/show_img/logo_flame.png
cover_image: /assets/images/blog-img-13
mailclimp_url: 'https://show.us18.list-manage.com/subscribe/post?u=fced616372d180dde25297550&amp;id=e3e524efc9'
facebook_url: https://www.facebook.com/getcatchfire
instagram_url: https://www.instagram.com/getcatchfire
twitter_url: http://twitter.com/getcatchfire
linkedin_url: https://www.linkedin.com/company/getcatchfire
pinterest_url: https://www.pinterest.com/getcatchfire
medium_url: https://medium.com/catchfire
youtube_url: https://www.youtube.com/channel/UCdkoR4tJna8oaHHmv67YTvw

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-paginate-v2
  - jekyll-archives
  - jekyll-seo-tag
  - jekyll-redirect-from


###################################################################
# Site configuration for the Jekyll 2 Pagination Gem
###################################################################
pagination:
  enabled: true
  debug: false
  collection: 'posts'
  per_page: 30
  permalink: '/pages/:num/' # Pages are simple html files 
  title: ':title - page :num'
  limit: 0
  sort_field: 'date'
  sort_reverse: true
  category: 'posts'
  tag: ''
  locale: '' 
  trail: 
    before: 2
    after: 
  extension: 'html'
  indexpage: 'index'

autopages:
  enabled: true
  categories: 
    layouts: 
      - 'category.html'
    title: 'Category -  :cat'
    permalink: '/category/:cat'
  collections:
    layouts: 
      - 'category.html'
    title: ' :coll' # :coll is replaced by the collection name
    permalink: '/:coll/'
  
  tags:
    layouts: 
      - 'category.html'
    title: ':tag' # :tag is replaced by the tag name
    permalink: '/podcast/:tag'  
      
tag_page_layout: category
tag_page_dir: tag
tag_permalink_style: pretty

jekyll-archives:
  enabled: all
  layout: category
  permalinks:
    category: '/category/:name/'
 
collections:
  contributors:
    title: Authors
    output: true
    permalink: /contributors/:path/    
  jobs:
    title: Jobs
    output: true
    permalink: /jobs/:title/    
    
feed:
  collections:
    posts:
      path: "/sitemap.xml"
    contributors:
      path: "/contributors.xml"
    jobs:
      path: "/jobs.xml"
      
whitelist:
  - jekyll-redirect-from
