---
layout: content-only
redirect_from:

---

<!-- Mini-Header Section Start -->
<div id="header" class="bg-primary pt-3 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3 offset-md-4 col-6 offset-3">
        <a href="{{site.url}}"><img src="{{site.logo_url}}" alt="{{site.title}}" /></a>
      </div>
    </div>
  </div>
</div>
<!-- Mini-Header  Section End -->

<!-- Blog Section Start -->
<div id="blog" class="ig-roll pt-5">
  <div class="container">

    <div class="row">
      <div class="col-10 offset-1 col-md-8 offset-md-2">
        <ul class="list-unstyled">


          <!-- YouTube -->
          <li class="media pb-5">
            <a href="https://www.youtube.com/channel/UCdkoR4tJna8oaHHmv67YTvw">
              <i class="fa fa-youtube thumb"></i>
              </a>
            <div class="media-body">
              <a href="https://www.youtube.com/channel/UCdkoR4tJna8oaHHmv67YTvw"><b class="text-primary">Subscribe on YouTube</b></a><br />
              Season 3 move from audio to video on Wed, Jan. 26, 2021. Subscribe on YouTube for the fresh episodes.
            </div>
          </li>

          <!-- YouTube -->
          <li class="media pb-5">
            <a href="/jobs/featured/">
              <i class="fa fa-search thumb"></i>
              </a>
            <div class="media-body">
              <a href="/jobs/featured/"><b class="text-primary">Explore our Job Board</b></a><br />
              Earn and contribute in the post-pandemic world. Find your fire. Live for it.
            </div>
          </li>




          {% assign posts = site.posts | where: 'categories', 'podcast' %}
          {% for post in posts limit:2 %}
          <li class="media pb-5">
            <a href="{{post.url}}"><img class="mr-3" src="{{post.post_image}}" alt="{{post.title}}" /></a>
            <div class="media-body">
              <a href="{{post.url}}"><b class="text-primary">{{post.title}}</b></a><br />
              {{post.excerpt}}
            </div>
          </li>
          {% endfor %}



          <!-- Beginnings -->
          <!-- <li class="media pb-5">
            <a href="/beginnings"><img class="mr-3 center" src="/assets/images/beginnings/banner.png"
                alt="beginnings" /></a>
            <div class="media-body">
              <a href="/beginnings"><b class="text-primary">#beginnings</b></a><br />
              Starting is the worst. Or, it can feel that way. Let's keep your daydream. Join our beginnings Livestream
              to hear from others just starting their careers.
            </div>
          </li> -->

        </ul>
      </div>
    </div>

  </div>
</div>
<!-- Blog Section End -->

<footer class="footer-area clearfix pb-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include tags.html %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="footer-top">

          <hr />
          <div class="social-icon d-flex justify-content-center pt-4">

            <ul class="list-inline">
              {% if site.facebook_url %}
              <li class="list-inline-item facebook"><a href="{{site.facebook_url}}" target="_blank"><i
                    class="fa fa-facebook"></i> Facebook</a></li>
              {% endif %}

              {% if site.twitter_url %}
              <li class="list-inline-item twitter"><a href="{{site.twitter_url}}" target="_blank"><i
                    class="fa fa-twitter"></i> Twitter</a> </li>
              {% endif %}

              {% if site.instagram_url %}
              <li class="list-inline-item instagram"><a href="{{site.instagram_url}}" target="_blank"><i
                    class="fa fa-instagram"></i>Instagram</a></li>
              {% endif %}

              {% if site.pinterest_url %}
              <li class="list-inline-item pinterest"><a href="{{site.pinterest_url}}" target="_blank"><i
                    class="fa fa-pinterest"></i> Pinterest</a></li>
              {% endif %}

              {% if site.medium_url %}
              <li class="list-inline-item medium"><a href="{{site.medium_url}}" target="_blank"><i
                    class="fa fa-medium"></i> Medium</a></li>
              {% endif %}

              {% if site.linkedin_url %}
              <li class="list-inline-item youtube"><a href="{{site.linkedin_url}}" target="_blank"><i
                    class="fa fa-linkedin"></i> LinkedIn</a></li>
              {% endif %}

              {% if site.youtube_url %}
              <li class="list-inline-item youtube"><a href="{{site.youtube_url}}" target="_blank"><i
                    class="fa fa-youtube"></i> YouTube</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="footer-bottom text-center">
          <div class="bottom-text pt-4">
            <p> </p>
            <address class="footer-address">@ Copyright - {{ site.time | date: '%Y' }}<span> | {{ site.title }} | <a
                  href="{{site.url}}/privacy.html">Privacy Policy</a></span></address>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->