---
layout: content-only
redirect_from:

---

<!-- Mini-Header Section Start -->
<div id="header" class="bg-primary pt-3 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3 offset-md-4 col-6 offset-3">
        <a href="{{site.url}}"><img src="{{site.logo_url}}" alt="{{site.title}}" /></a>
      </div>
    </div>
  </div>
</div>
<!-- Mini-Header  Section End -->

<!-- Blog Section Start -->
<div id="blog">
  <div class="container">

    <div class="row mt-5">
      <div class="col-6">
        <a href="/jobs/featured/" class="btn btn-primary btn-block">
          <i class="fa fa-search pr-2"></i> Job Opportunities
        </a>
      </div>
      <div class="col-6">
        <a href="http://catchfire.cc/yts" class="btn btn-primary btn-block">
          <i class="fa fa-youtube pr-2"></i> Subsribe
        </a>
      </div>

    </div>

    <div class="row">
      <div class="col-12 mt-5">
        <h2>Profiles</h2>
      </div>
      {% assign posts = site.posts | where: 'categories', 'podcast' | where_exp: 'item', 'item.youtube != null' | sort:
      'date' | reverse %}
      {% for post in posts limit: 5 %}
      <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
        <!-- Item start -->
        <a href="{{post.url}}">
          <img src="{{post.post_image}}" />
        </a>
        <!-- Item video -->
      </div>
      {% endfor %}
    </div>
    


  </div>
</div>
<!-- Blog Section End -->

<footer class="footer-area clearfix pb-5 pt-5">
  <div class="container">

    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="footer-top">

          <hr />
          <div class="social-icon d-flex justify-content-center pt-4">

            <ul class="list-inline">
              {% if site.facebook_url %}
              <li class="list-inline-item facebook"><a href="{{site.facebook_url}}" target="_blank"><i
                    class="fa fa-facebook"></i> Facebook</a></li>
              {% endif %}

              {% if site.twitter_url %}
              <li class="list-inline-item twitter"><a href="{{site.twitter_url}}" target="_blank"><i
                    class="fa fa-twitter"></i> Twitter</a> </li>
              {% endif %}

              {% if site.instagram_url %}
              <li class="list-inline-item instagram"><a href="{{site.instagram_url}}" target="_blank"><i
                    class="fa fa-instagram"></i>Instagram</a></li>
              {% endif %}

              {% if site.pinterest_url %}
              <li class="list-inline-item pinterest"><a href="{{site.pinterest_url}}" target="_blank"><i
                    class="fa fa-pinterest"></i> Pinterest</a></li>
              {% endif %}

              {% if site.medium_url %}
              <li class="list-inline-item medium"><a href="{{site.medium_url}}" target="_blank"><i
                    class="fa fa-medium"></i> Medium</a></li>
              {% endif %}

              {% if site.linkedin_url %}
              <li class="list-inline-item youtube"><a href="{{site.linkedin_url}}" target="_blank"><i
                    class="fa fa-linkedin"></i> LinkedIn</a></li>
              {% endif %}

              {% if site.youtube_url %}
              <li class="list-inline-item youtube"><a href="{{site.youtube_url}}" target="_blank"><i
                    class="fa fa-youtube"></i> YouTube</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="footer-bottom text-center">
          <div class="bottom-text pt-4">
            <p> </p>
            <address class="footer-address">@ Copyright - {{ site.time | date: '%Y' }}<span> | {{ site.title }} | <a
                  href="{{site.url}}/privacy.html">Privacy Policy</a></span></address>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->