---
layout: default
title: Profiles and inspiration from creative, successful people.
---
<!-- Banner Section Start -->
<div id="home">
   <div id="bannar-effect" class="bannar-image">
      <div class="container">
         <div class="row">
            <div class="col-md-10">

               <div class="bannar-wrapper">
                  <div class="bannar-text">
                     <h2 class="text-white mb-0">Learn from</h2>
                     <h1>Creative Successful People.</h1>
                     <ul class="pl-0">
                        <!-- <li><a href="/jobs/featured"><i class="fa fa-random"></i> Paths</a></li> -->
                        <li><a href="/show"><i class="fa fa-play-circle"></i> Show</a></li>
                        <li><a href="/profiles"><i class="fa fa-fire"></i> Profiles</a>
                        <li></li>
                     </ul>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>
<!-- Banner Section End -->

<!-- text intro  -->
<div class="row pt-150">
   <div class="col-10 offset-1 col-lg-6 offset-lg-3">
      <h2 class="text-secondary">Find your fire. Live for it.</h2>
      <p class="lead">Can’t decide on a career path? We help people looking for success outside traditional paths. Catch
         Fire has exclusive content to find your fire and live for it.</p>
   </div>
</div>

<!-- watch title  -->
<div class="row pt-150">
   <div class="col-md-12">
      <div class="sec-title">
         <h2>
            <i class="fa fa-play-circle text-primary"></i>
            show
         </h2>

         <h5 class="text-secondary">Join us Live or On-demand</h5>

         {% include listen-locations-small.html %}
      </div>
   </div>
</div>


<!-- watch -->
<div class="row pb-100">
   <div class="col-12 offset-0 col-sm-8 offset-sm-2">
      <h4 class="text-secondary">CLIPS</h4>
      <!-- Start Preview playlist -->
      <div class="video-responsive">
          <iframe width="560" height="315" src="//www.youtube.com/embed/videoseries?list=PL77wUH3sO_auz2j6Z5v0JP6u6WkH5m7bn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <!-- End Preview playlist -->

      <div class="mt-5 d-md-none d-lg-none d-xl-none"></div>
  </div>
</div>

<!-- profiles  -->
<div class="row pt-100 pb-100 bg-primary">
   <div class="col-md-12">
      <div class="sec-title">
         <h2 class="text-white">
            <i class="fa fa-fire pr-2"></i>
            profiles
         </h2>

         <h5 class="text-dark">Successful people taking creative career paths.</h5>
      </div>
   </div>

   <div class="col-10 offset-1">
      <div class="row">
         {% assign posts = site.contributors | where: 'featured', 'true' | sort: "contributor_id" | reverse %}
         {% for post in posts limit: 3 %}
         <div class="col-md-4 col-sm-6 mt-5 mb-5">

            {% include profile-card-sm.html %}
         </div>
         {% endfor %}
      </div>
   </div>
   <div class="col-10 offset-1 text-center">
      <a href="/profiles" class="btn btn-info">More Profiles</a>
   </div>
</div>


<!-- follow on insta -->
<div class="row pt-150">
   <div class="col-md-12">
      <div class="sec-title">
         <h2>follow <small class="pl-2"> on Instagram</small></h2>
      </div>
   </div>
</div>
{% include insta-grid.html %}