---
layout: default
---
<!-- Banner Section Start -->
<div id="home">
   <div id="bannar-effect" class="bannar-image">
      <div class="container">
         <div class="row">
            <div class="col-md-10">

               <div class="bannar-wrapper">
                  <div class="bannar-text">
                     <h1>Find your fire. Live for it.</h1>
                     <ul class="pl-0">
                        <li id="subscribe-scroll"><a href="/show"><i class="fa fa-play-circle"></i> Watch Show</a>
                        <li id="fb-group"><a href="/jobs/featured"><i class="fa fa-search"></i> Explore Jobs</a>
                        </li>
                     </ul>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>
<!-- Banner Section End -->

<div class="row pt-150">
   <div class="col-md-12">
      <div class="sec-title">
         <h2>watch <small class="pl-2"> on YouTube</small></h2>
      </div>
   </div>
</div>

   <div class="row">
      <div class="col-10 offset-1">
         <div class="container">
            <div class="row">
               {% assign posts = site.posts | where: 'categories', 'podcast' | where_exp: 'item', 'item.youtube != null' | sort: 'date' | reverse %}
               {% for post in posts limit: 3 %}
               <div class="col-lg-4 col-md-6 col-sm-6 mt-5">
                  <!-- Video start -->
                  <div class="video-responsive">
                     <iframe width="560" height="315" src="https://www.youtube.com/embed/{{post.youtube}}" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                  </div>
                  <!-- End video -->
                  <div class="mt-3">
                  {{post.excerpt}}
                  <a href="{{post.url}}">more...</a>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>




<div class="row pt-150">
   <div class="col-md-12">
      <div class="sec-title">
         <h2>follow <small class="pl-2"> on Instagram</small></h2>
      </div>
   </div>
</div>
{% include insta-grid.html %}