---
layout: content-only
redirect_from:
- /ig
---
<div id="linkinbio">


  <!-- Mini-Header Section Start -->
  <div class="bg-primary pt-3 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-3 offset-md-4 col-6 offset-3">
          <a href="{{site.url}}"><img src="{{site.logo_url}}" alt="{{site.title}}" /></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Mini-Header  Section End -->

  <!-- Blog Section Start -->
  <div>
    <div class="container">

      <div class="row mb-5">
        <div class="col-12 mt-5 pl-3 pr-3">
          <a href="http://catchfire.cc/listen" class="btn btn-outline-primary btn-block" target="_blank">Listen to the Show</a>
          <a href="/job-interview-prep" class="btn btn-outline-primary btn-block">Book Job Interview Prep</a>
          <a href="/profile/2021/01/01/simon-yost" class="btn btn-outline-primary btn-block">Meet the host, Simon Yost</a>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-12 mt-3 pl-3 pr-3">
          {% include tag_badges.html %} 
        </div>

      </div>

        <div class="row">
          <div class="col-10 offset-1 mt-5 mb-3">
            <h2 class="text-secondary">Profiles</h2>
          </div>

          {% assign profiles = site.posts | where: 'categories', 'profile' %}
          {% assign featured = profiles | where: 'featured', 'true' | sort: "contributor_id" | reverse %}

          {% for profile in featured limit: 5 %}
          <div class="col-4 mb-5 profile text-center">
            <!-- Item start -->
            <div class="client-img">
              <a href="{{profile.url}}">
                <img src="{{profile.post_image}}" alt="{{profile.title}}">
              </a>
            </div>
            <a href="{{profile.url}}">
              <b>{{profile.title}}</b>
            </a>
            <!-- Item video -->
          </div>
          {% endfor %}


        </div>


        <div class="row">
          <div class="col-10 offset-1 mt-5">
            <h2 class="text-secondary">Shows</h2>
          </div>
          {% assign recents = site.posts | where: 'categories', 'podcast' |
          sort: 'date' | reverse %}
          {% assign recent = recents.first %}

          <div class="col-10 offset-1 col-lg-4 col-md-6 col-sm-6 mb-5">
            <!-- Item start -->
            <a href="{{recent.url}}">
              <img src="{{recent.post_image}}" />
            </a>
            <!-- Item video -->
          </div>
          {% assign posts = site.posts | where: 'categories', 'podcast' | where: 'featured', 'true' |
          sort: 'date' | reverse %}
          {% for post in posts limit: 5 %}
          {% if post.id != recent.id %}
          <div class="col-10 offset-1 col-lg-4 col-md-6 col-sm-6 mb-5">
            <!-- Item start -->
            <a href="{{post.url}}">
              <img src="{{post.post_image}}" />
            </a>
            <!-- Item video -->
          </div>
          {% endif %}
          {% endfor %}
        </div>



      </div>
    </div>
    <!-- Blog Section End -->

    <footer class="footer-area clearfix pb-5 pt-5">
      <div class="container">

        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="footer-top">

              <hr />
              <div class="social-icon d-flex justify-content-center pt-4">

                <ul class="list-inline">
                  {% if site.facebook_url %}
                  <li class="list-inline-item facebook"><a href="{{site.facebook_url}}" target="_blank"><i
                        class="fa fa-facebook"></i> Facebook</a></li>
                  {% endif %}

                  {% if site.twitter_url %}
                  <li class="list-inline-item twitter"><a href="{{site.twitter_url}}" target="_blank"><i
                        class="fa fa-twitter"></i> Twitter</a> </li>
                  {% endif %}

                  {% if site.instagram_url %}
                  <li class="list-inline-item instagram"><a href="{{site.instagram_url}}" target="_blank"><i
                        class="fa fa-instagram"></i>Instagram</a></li>
                  {% endif %}

                  {% if site.pinterest_url %}
                  <li class="list-inline-item pinterest"><a href="{{site.pinterest_url}}" target="_blank"><i
                        class="fa fa-pinterest"></i> Pinterest</a></li>
                  {% endif %}

                  {% if site.medium_url %}
                  <li class="list-inline-item medium"><a href="{{site.medium_url}}" target="_blank"><i
                        class="fa fa-medium"></i> Medium</a></li>
                  {% endif %}

                  {% if site.linkedin_url %}
                  <li class="list-inline-item youtube"><a href="{{site.linkedin_url}}" target="_blank"><i
                        class="fa fa-linkedin"></i> LinkedIn</a></li>
                  {% endif %}

                  {% if site.youtube_url %}
                  <li class="list-inline-item youtube"><a href="{{site.youtube_url}}" target="_blank"><i
                        class="fa fa-youtube"></i> YouTube</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="footer-bottom text-center">
              <div class="bottom-text pt-4">
                <p> </p>
                <address class="footer-address">@ Copyright - {{ site.time | date: '%Y' }}<span> | {{ site.title }} | <a
                      href="{{site.url}}/privacy.html">Privacy Policy</a></span></address>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->
  </div>