---
layout: default
<!-- pagination:
  enabled: true -->
redirect_from:
- /cards
---
{% include banner-podcast.html %}
{% include listen-locations-section.html %}

<div class="container">
  <div class="row">
    <div class="col-12 my-5">
      <hr>
    </div>
    <div class="col-12">
      <div class="sec-title">
        <h2>Explore</h2>
      </div>
    </div>
  </div>
</div>


{% include tags.html %}

<!-- Blog Section Start -->
<div id="blog" class="blog-sec pt-100 pb-150">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="sec-title p-b-50">
          <h3>Episodes</h3>
          <p>Browse all our episodes.</p>
        </div>
      </div>
    </div>
    <div class="row">

      {% assign posts = site.posts | where: 'categories', 'podcast'  %}
      {% for post in posts %}
      <div class="col-md-4 col-sm-6">
        <div class="themeix-box">
          <div class="single-post">
            <div class="single-post-thumb">
              <img src="{{post.post_image}}" alt="{{post.title}}" />
            </div>
            <div class="blog-text">
              <div class="post-info">
                <h2><a href="{{post.url}}">{{post.title}}</a></h2>
              </div>
              <p>{{post.excerpt}}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
<!-- Blog Section End -->