---
layout: default
redirect_from:

---
<!-- Banner Section Start -->
<div>
  <div id="bannar-effect" class="bannar-image">
  </div>
</div>
<!-- Banner Section End -->



<!-- Blog Section Start -->
<div id="blog" class="blog-sec pt-100 pb-150">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="sec-title p-b-50">
          <h2>story cards</h2>
        </div>
      </div>
    </div>
    <div class="row">

      {% assign posts = site.contributors | where: 'profile', 'true' | sort: "last" %}
      {% for post in posts %}
      <h1>{{page.pagination.collection}}</h1>
      <div class="col-md-4 col-sm-6 mt-5 mb-5">

        <div class="col-6 offset-3 profile-logo">
          <img src="assets/images/logos/cf_logo_show_color.png" />
        </div>

        {% include profile-card-story.html%}
      </div>
      {% endfor %}

    </div>
  </div>
</div>
<!-- Blog Section End -->