---
layout: default
redirect_from:

---
<!-- Banner Section Start -->
<div id="home">
  <div id="bannar-effect" class="bannar-image neon">
  </div>
</div>
<!-- Banner Section End -->



<!-- Blog Section Start -->
<div id="blog" class="blog-sec pt-100 pb-150">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="sec-title p-b-50">
          <h2>profiles</h2>
        </div>
      </div>
    </div>
    <div class="row">

      {% assign posts = site.contributors | where: 'profile', 'true' | sort: "last" %}
      {% for post in posts %}
      <h1>{{page.pagination.collection}}</h1>
      <div class="col-md-4 col-sm-6 mb-5">
        <div class="our-client">
          <div class="client-img">
            <a href="{{post.url}}">
              <img src="{{post.image}}" alt="{{post.name}}">
            </a>
          </div>
          <div class="details">
            <h2><a href="{{post.url}}">{{post.name}}</a>
              <small class="pl-2">
                {{post.bio}}
              </small>
            </h2>

            <span>
              <small>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                {{post.location}}
              </small>
            </span>
            <div class="client-border-shape mb-2"></div>
            <p>{{post.summary}}</p>
          </div>

          <div class="rating">

            {% if post.serve %}
            <h6 class="text-secondary">service</h6>
            <p> <b class="text-secondary">
                <i class="fa fa-user text-primary" aria-hidden="true"></i>
                who /</b>
              {{post.serve.who}}</p>

            <p> <b class="text-secondary">
                <i class="fa fa-random text-primary" aria-hidden="true"></i>
                how /</b>
              {{post.serve.how}}</p>

            {% endif%}

            {% if post.skills %}
            <p class="mb-0"> <b class="text-secondary">
                <i class="fa fa-cogs text-primary" aria-hidden="true"></i>
                skills used /</b>
              {% for skill in post.skills %}
              <span class="badge rounded-pill bg-primary text-white">{{skill}}</span>
              {% endfor %}
            </p>
            {% endif%}

          </div>

          <div class="col-6 offset-3 mt-5">
            <img src="assets/images/logos/cf_logo_show_color.png" />
          </div>

        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
<!-- Blog Section End -->