---
layout: default
<!-- pagination:
  enabled: true -->
redirect_from:
- /cards
- /podcast
---
<!-- Banner Section Start -->
<div>
  <div id="bannar-effect" class="bannar-image neon">
    <div class="container">
      <div class="row">
         <div class="col-md-10">
            <div class="bannar-wrapper mt-0 mb-0 pb-0">
               <div class="bannar-text mt-0 pt-0 mb-0 pb-0">
                  <h2 class="text-white mt-0">Live Stream <small>Wednesdays at 6PM CT</small><br />
                  On-demand <small>anytime</small></h2>
                  <ul class="pl-0">
                     <li><a href="https://www.youtube.com/channel/UCdkoR4tJna8oaHHmv67YTvw"><i class="fa fa-youtube"></i> YouTube</a>
                     <li><a href="https://www.instagram.com/getcatchfire"><i class="fa fa-instagram"></i> Instagram</a></li>
                     <li></li>
                  </ul>
               </div>
            </div>

         </div>
      </div>
   </div>
  </div>
</div>
<!-- Banner Section End -->



<!-- context -->
<div class="container">

<!-- text intro  -->
<div class="row mt-5">
  <div class="col-10 offset-1 col-lg-6 offset-lg-3">
     <h2 class="text-secondary">Success Inspiration.</h2>
     <p class="lead">Can’t decide on a career path? We help people looking for success outside traditional paths.</p>

     <p class="lead">Learn from dozens of stories about success in non-tranditional careers paths and all the adventure along the way.</p>
  </div>
</div>
</div>


{% include video-playlist.html %}

{% include listen-locations-section.html %}


<!-- Blog Section Start -->
<div id="blog" class="blog-sec pt-100 pb-150">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="sec-title p-b-50">
          <h2>on-demand episodes</h2>
        </div>
      </div>
    </div>
    <div class="row">

      {% assign posts = site.posts | where: 'categories', 'podcast' %}
      {% for post in posts %}
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="themeix-box">
          <div class="single-post">
            <div class="single-post-thumb">
              <img src="{{post.post_image}}" alt="{{post.title}}" />
            </div>
            <div class="blog-text">
              <div class="post-info">
                <h2><a class="pr-1" href="{{post.url}}">{{post.title}}</a>
                  <br/>
                  <small>
                  {% if post.megaphone %}
                  <span class="badge rounded-pill bg-secondary text-white">
                    <i class="fa fa-volume-up"></i> 
                  </span>
                  {% endif %}
                  {% if post.youtube %}
                  <span class="badge rounded-pill bg-secondary text-white">
                    <i class="fa fa-youtube"></i> 
                  </span>
                  {% endif %}
                </small>
                </h2>
                

                  
                
              </div>
              <p>{{post.excerpt}}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
<!-- Blog Section End -->