---
layout: default
<!-- pagination:
  enabled: true -->
redirect_from:
- /cards
- /podcast
---
<!-- Banner Section Start -->
<div id="home">
  <div id="bannar-effect" class="bannar-image neon">
  </div>
</div>
<!-- Banner Section End -->


<!-- context -->
<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <div class="sec-title">
        <h2 class="text-primary"><small>Learn from passionate people taking uncommon paths.</small></h2>
        <p class="lead mt-3">Find your fire. Live for it.</p>
      </div>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
</div>


{% include listen-locations-section.html %}


<!-- Blog Section Start -->
<div id="blog" class="blog-sec pt-100 pb-150">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="sec-title p-b-50">
          <h2>explore episodes</h2>
        </div>
      </div>
    </div>
    <div class="row">

      {% assign posts = site.posts | where: 'categories', 'podcast' %}
      {% for post in posts %}
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="themeix-box">
          <div class="single-post">
            <div class="single-post-thumb">
              <img src="{{post.post_image}}" alt="{{post.title}}" />
            </div>
            <div class="blog-text">
              <div class="post-info">
                <h2><a class="pr-1" href="{{post.url}}">{{post.title}}</a>
                  <br/>
                  <small>
                  {% if post.megaphone %}
                  <span class="badge rounded-pill bg-secondary text-white">
                    <i class="fa fa-volume-up"></i> 
                  </span>
                  {% endif %}
                  {% if post.youtube %}
                  <span class="badge rounded-pill bg-secondary text-white">
                    <i class="fa fa-youtube"></i> 
                  </span>
                  {% endif %}
                </small>
                </h2>
                

                  
                
              </div>
              <p>{{post.excerpt}}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
<!-- Blog Section End -->