---
layout: job-list
<!-- pagination:
  enabled: true -->
title: Jobs for Creatives
class: creative
---
<!-- Blog Section Start -->
<div class="blog-sec pt-100 pb-150">
  <div class="container">

    <!-- INTRO -->
    <div class="row">
      <div class="col-10 offset-1">
        <p class="lead">How do creatives find careers post-pandemic? Explore creative job opportunities below.</p>
        <hr class="my-5">
      </div>
    </div>

    <!-- RELATED CONTENT -->
    <div class="row">
      {% assign topics = site.posts | where: 'tags', 'creatives' | where: 'categories', 'topic' %}
      {% assign topic = topics.first %}
      {% include related-post.html %}
    </div>
  </div>

  <div class="row">
    {% assign jobs = site.data.jobs.creative %}
    {% include job-cards.html %}
  </div>
</div>
</div>
<!-- Blog Section End -->