---
layout: job-list
<!-- pagination:
  enabled: true -->
title: Jobs for Creatives
class: creative
excerpt: How do creatives find careers post-pandemic? Explore creative job opportunities below.
---
<!-- Blog Section Start -->
<div class="blog-sec pt-100 pb-150">
  <div class="container">

    <!-- INTRO -->
    <div class="row mb-5">
      <div class="col-10 offset-1">
        <p class="lead">How do creatives find careers post-pandemic? Explore creative job opportunities below.</p>
      </div>
    </div>

    <!-- RELATED CONTENT -->
    <div class="row">
      {% assign topics = site.posts | where: 'tags', 'creatives' | where: 'categories', 'topic' %}
      {% assign topic = topics.first %}
      {% include related-post.html %}
    </div>
  </div>

  <!-- REMOTE -->
  <div class="row mt-5">
    <h1 class="col-12 mb-3 text-center">Remote Jobs</h1>
    {% assign jobs = site.data.jobs.creative | where: 'publish', 'x' | where: 'has_expired', 'false' | where:
    'is_remote', 'true' %}
    {% if jobs %}
      {% for job in jobs %}
        {% include job-cards.html %}
      {% endfor %}
    {% else %}
      <p>No jobs found.</p>
    {% endif %}
  </div>

  <!-- ON LOCATION -->
  <div class="row mt-5">
    <h1 class="col-12 mb-3 text-center">On Location Jobs</h1>
    {% assign jobs = site.data.jobs.creative | where: 'publish', 'x' | where: 'has_expired', 'false' | where:
    'is_remote', 'false' %}
    {% if jobs %}
      {% for job in jobs %}
        {% include job-cards.html %}
      {% endfor %}
    {% else %}
      <p>No jobs found.</p>
    {% endif %}
  </div>

</div>
</div>
<!-- Blog Section End -->