---
layout: job-list
title: Jobs for <span class="strike">Protestors</span> People
class: protestors
excerpt: Being a protestor does not define you, and neither does your job. Explore below to find opportunities to bring your whole self to work.
---
<!-- Blog Section Start -->
<div class="blog-sec pt-100 pb-150">
  <div class="container">

    <!-- INTRO -->
    <div class="row mb-5">
      <div class="col-10 offset-1">
        <p class="lead">Being a protestor does not define you, and neither does your job. Explore below to find opportunities to bring your whole self to work.</p>
        <!-- <hr class="mt-5"> -->
      </div>
    </div>

  <!-- REMOTE -->
  <div class="row mt-5">
    <h1 class="col-12 mb-3 text-center">Remote Jobs</h1>
    {% assign jobs = site.data.jobs.protestors | where: 'publish', 'x' | where: 'has_expired', 'false' | where:
    'is_remote', 'true' %}
    {% if jobs %}
      {% for job in jobs %}
        {% include job-cards.html %}
      {% endfor %}
    {% else %}
      <p>No jobs found.</p>
    {% endif %}
  </div>

  <!-- ON LOCATION -->
  <div class="row mt-5">
    <h1 class="col-12 mb-3 text-center">On Location Jobs</h1>
    {% assign jobs = site.data.jobs.protestors | where: 'publish', 'x' | where: 'has_expired', 'false' | where:
    'is_remote', 'false' %}
    {% if jobs %}
      {% for job in jobs %}
        {% include job-cards.html %}
      {% endfor %}
    {% else %}
      <p>No jobs found.</p>
    {% endif %}
  </div>
  
  </div>
</div>
<!-- Blog Section End -->