<!-- Start Ham Ad -->
<div class="row">
    <div class="col-md-12">
        <div class="row ad hamilton dark">
            <div class="col-md-3">
                <h1>ENTER TO WIN</h2>
            </div>


            <div class="col-md-5">
                <h5>Don't Waste Your Shot.</h5>
                <p>Enter to win one of 100 spots at live, virtual Hamilton Experience with three broadway cast members.</p>
            </div>

            <div class="col-md-4">
                <a href="/hamilton.html" class="btn btn-dark btn-lg mt-4">Claim Your Spot</a>
            </div>


        </div>

    </div>
</div>
<!-- End Ham Ad -->