<!-- Start Ham Ad -->
<div class="row">
    <div class="col-md-12">
        <div class="row ad hamilton dark">
            <div class="col-md-3">
                <h2>Live Hamilton Experience</h2>
            </div>


            <div class="col-md-5">
                <h5>Don't Waste Your Shot.</h5>
                <p>Claim your spot at our live Hamilton interview experience on Nov. 5, 2020 with three broadway cast members.</p>
            </div>

            <div class="col-md-4">
                <a href="/hamilton.html" class="btn btn-dark btn-lg mt-4"><i class="fa fa-ticket"></i> Claim Your Spot</a>
            </div>


        </div>

    </div>
</div>
<!-- End Ham Ad -->