<!-- Apps Descriptions Section Start -->	
      <div id="about" class="themeix-describe-sec  pt-120">
         <div class="container">
            <div class="row">
               <div class="col-md-6 d-flex align-items-center">
                  <div class="themeix-feature-text">
                     <span>Sign Up for a Chance to Win</span>
                     <h2>Don't Waste Your Shot</h2>
                     <p>On November 5, 2020 Catch Fire Show will host a Virtual Hamilton Experience. It will be an hour of live discussion with three broadway cast members.</p>
                     <p>Just like a episode of Catch Fire Show, Simon will interview Gregory, Julia, and Anthony live. You will be able to post questions in the chat and experience an episode of the show that only 100 people will ever be a part of.</p>
                     <p>For a shot a being one of the lucky participants, signup below. Your name will be entered in a drawing for one of 100 seats.</p>
                     <ul class="pl-0">
                        <li><a href="#"><img src="/assets/images/icon/apple.png" alt=""/>app store</a></li>
                        <li><a href="#"><img src="/assets/images/icon/playstore.png" alt=""/>googleplay</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-6 d-flex align-items-center">
                  <div class="themeix-feature-img">
                     <img src="/assets/images/hamilton/guests_001.png" alt=""/>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Apps Descriptions Section End -->