<!-- Apps Service Section Start -->	
      <div id="services" class="service-sec">
         <div class="container">
            <div class="row center">
               {% for service in site.data.services%}
                  <div class="col-lg-4 col-md-6 col-sm-6 inner-box">
                     <div class="inner">
                        <div class="themeix-box">
                           <div class="service-icon">
                              {% if service.icon %}
                                 <img src="{{service.icon}}" alt="{{service.name}}"/>
                              {% endif %}
                              {%if service.fa-icon %}
                                 <i class="pt-1 pb-1 fa fa-2x text-white fa-{{service.fa-icon}}"></i>
                              {% endif %}
                           </div>
                           <div class="service-content">
                              <h2 class="text-uppercase">{{service.name}}</h2>
                              <p class="lead text-capitalize">{{service.examples}}</p>
                              <p>{{service.description}}</p>
                              <a class="btn btn-secondary btn-sm" href="/tag/{{service.tag-url}}">explore >></a>
                           </div>
                        </div>
                     </div>
                  </div>
               {% endfor %}
            </div>
         </div>
      </div>
      <!-- Apps Service Section End -->