<!-- Banner Section Start -->
<div id="home">
   <div id="bannar-effect" class="bannar-image">
      <div class="container">
         <div class="row">
            <div class="col-md-10">
               
               <div class="bannar-wrapper">
                  <div class="bannar-text">
                     <h1>Diverse Career Encyclopedia</h1>
                     <p class="lead">Passionate People taking uncommon Paths.</p>
                     <p>Traverse non-traditional career paths by intentionally choosing who and how you serve. Then
                        cultivate the skills you need to serve.</p>
                     <ul class="pl-0">
                        <li id="fb-group"><a href="#community"><img class="patreon icon" src="/assets/images/icon/patreon-brands.svg" alt="patreon"/> Community</a></li>
                        <li id="subscribe-scroll"><a href="/podcast"><i class="fa fa-headphones"></i> Show</a>
                        </li>
                     </ul>
                  </div>
               </div>
               
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Banner Section End -->