<!-- Banner Section Start -->
<div id="home">
   <div id="bannar-effect" class="bannar-image friendsgiving">
      <div class="container">
         <div class="row pt-150">
            <div class="col-lg-10 offset-lg-1">
               <div class="video-responsive">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/gpMmWOkkwOs" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen></iframe>
               </div>

               <h1 class="text-white my-5">Live Now! CFS Friendsgiving</h1>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Banner Section End -->