 <!-- Banner Section Start -->	
      <div id="home">
         <div id="bannar-effect" class="bannar-image">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">

                           <div class="bannar-wrapper">
                              <div class="bannar-text">
                                 <h1>Listen to the Show</h1>
                                 <!-- <p>{{banner_content.subtitle}}</p> -->
                              </div>
                           </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Banner Section End -->		