<!-- Banner Section Start -->
<div id="home">
   <div id="bannar-effect" class="bannar-image">
      <div class="container">
         <div class="row">
            <div class="col-md-10">
               
               <div class="bannar-wrapper">
                  <div class="bannar-text">
                     <h1>Passionate People. <br />Uncommon Paths.</h1>
                     <p class="lead">Catch Fire Show is a bridge to the contribution you aspire to.</p>
                     <p>Traverse non-traditional career paths by intentionally choosing who and how you serve. Then
                        cultivate the skills you need to serve.</p>
                     <ul class="pl-0">
                        <li id="fb-group"><a href="#subscribe"><i class="fa fa-envelope"></i> Subscribe</a></li>
                        <li id="subscribe-scroll"><a href="/podcast#listen"><i class="fa fa-headphones"></i> Listen</a>
                        </li>
                     </ul>
                  </div>
               </div>
               
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Banner Section End -->


- title1: CFS Friendsgiving
  title2: Live broadcast // Wed, Nov. 25 8-10am
  subtitle: Traverse non-traditional career paths by intentionally choosing who and how you serve. Then cultivate the skills you need to serve.
- title1: Passionate People. <br />Uncommon Paths.
  title2: Catch Fire Show is a bridge to the contribution you aspire to.
  subtitle: Traverse non-traditional career paths by intentionally choosing who and how you serve. Then cultivate the skills you need to serve.