 <!-- Banner Section Start -->	
      <div id="home">
         <div id="bannar-effect" class="bannar-image cast">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">

                           <div class="bannar-wrapper">
                              <div class="bannar-text">
                                 <h1>Our Podcast.</h1>
                                 <p>Catch Fire Show offers the mic to members of a growing community, and we invite you to join the conversation.</p>
                              </div>
                           </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Banner Section End -->		