 <!-- Banner Section Start -->	
      <div id="home">
         <div id="bannar-effect" class="bannar-image">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">
                        {% for banner_content in site.data.banner-content-cohort %}
                           <div class="bannar-wrapper">
                              <div class="bannar-text">
                                 <h1>{{banner_content.title}} <br/><small>{{banner_content.subtitle}}</small></h1>
                                 
                                 <!-- <ul class="pl-0">
                                    <li><a href="{{banner_content.apply}}"><i class="fa fa-play"></i>apply now</a></li>
                                 </ul> -->
                              </div>
                           </div>
                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Banner Section End -->		