 <!-- Banner Section Start -->	
      <div id="home">
         <div id="bannar-effect" class="bannar-image cast">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">

                           <div class="bannar-wrapper">
                              <div class="bannar-text">
                                 <h1>Our Podcast.</h1>
                                 <p>Traverse non-traditional career paths with the stories of those activating their skills with intention by choosing who and how they serve. Then, cultivate the skills need to serve. These professionals are from different disciplines and industries but share a common goal of serving people with intention and excellence.</p>
                              </div>
                           </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Banner Section End -->		