<!-- video Section Start -->
<div class="container pt-100">
    <div class="row">
        <div class="col-12 offset-0 col-md-6 offset-md-3">
            <!-- Start Preview playlist -->
            <div class="video-responsive tall">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL77wUH3sO_auz2j6Z5v0JP6u6WkH5m7bn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <!-- End Preview playlist -->
        </div>
    </div>
</div>
<!-- video Section End -->