 
      <!-- Contact Section Start -->
      <div id="contact" class="contact-sec  pt-120 pb-120">
        <div class="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-form-sec">
                    <div class="contact-field contact-form">
                        <h2>Send Message</h2>
                        <form action="https://formspree.io/simonyost@gmail.com" method="POST">
                            <div class="single-input-field">
                                <input class="form-control" name="name" type="text" placeholder="Full Name"/>
                            </div>
                            <div class="single-input-field">
                                <input class="form-control" name="_replyto" type="email" placeholder="Email"/>
                            </div>
                            <div class="single-input-field">
                                <input class="form-control" name="subject" type="text" placeholder="Your Subject"/>
                            </div>
                            <div class="single-input-field">
                                <textarea class="form-control" name="message" placeholder="Message"></textarea>
                            </div>
                            <div class="single-input-fieldsbtn">
                                <input type="submit" value="Send Message"/>
                            </div>
                        </form>
                    </div>
                    <div class="contact-info">
                        <h1>Cotact Us</h1>
                        <p>We'd love to learn more about your prototype and how we can help.</p>
                        <div class="single-contact-inner">
                            <div class="contact-inner-icon">
                                <img src="/assets/images/icon/map-marker.png" alt=""/>
                            </div>
                            <div class="contact-inner-text">
                                <span>St. Louis, Missouri, USA</span>
                            </div>
                        </div>
                        <div class="single-contact-inner">
                            <div class="contact-inner-icon">
                                <img src="/assets/images/icon/envelope.png" alt=""/>
                            </div>
                            <div class="contact-inner-text">
                                <span>www.catchfire.show</span>
                                <span>hello@catchfire.show</span>
                            </div>
                        </div>
                        <!-- <div class="single-contact-inner">
                            <div class="contact-inner-icon">
                                <img src="/assets/images/icon/phone.png" alt=""/>
                            </div>
                            <div class="contact-inner-text">
                                <span>+123 456 7890</span>
                                <span>+123 456 7891</span>
                            </div>
                        </div> -->
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
