<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u -3u">
                <h2>Move past archetypes to find your prototype.</h2>
                <p>The Catch Fire Show is a new podcast about dialing in on whom we want serve and then developing the skills to serve with passion.</p>
                <ul class="icons">
                    <!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
                    <li><a href="https://www.facebook.com/catch.fire.show/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/catch.fire.show/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <!-- <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li> -->
                    <!-- <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li> -->
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; 2020 Gluded Network. All rights reserved.</li>
        </ul>
    </div>
</footer>
