<footer class="footer-area clearfix pb-5 pt-120 ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="footer-top ">
                <div class="footer-newletter-area pb-4">
                    <section class="gh-subscribe text-center">
                        <div class="row">
                            <div class="col-md-12">
                            <div id="subscribe" class="sec-title p-b-50">
                                <h4>Signup for 🔥</h4>
                                <p>Subscribe via email.</p>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-3">
                            <!-- <form name="contact" method="POST" data-netlify="true">

                            </form> -->
                            <form class="search-form  wow bounceInUp" name="optIn" data-netlify="true" action="/job-you-love-success">
                                <div class="form-group">
                                    <input type="text" value="" name="name" class="required form-control" placeholder="Your Name Here" required>
                                </div>

                                <div class="form-group">
                                    <input type="email" value="" name="EMAIL" class="required email form-control subscribe-email" placeholder="Your Email Here" required>
                                </div>

                                <div class="form-group mb-1">
                                    <button id="subscribe-from-submit" type="submit" value="Subscribe" name="subscribe" class="btn btn-primary button">subscribe</button>
                                </div>

                            </form>
                        </div>
                        
                    </section>
                </div>
                <hr />
                <div class="social-icon d-flex justify-content-center pt-4">
                    
                    <ul class="list-inline">
                        {% if site.facebook_url %}
                            <li class="list-inline-item facebook"><a href="{{site.facebook_url}}" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
                        {% endif %}

                        {% if site.twitter_url %}
                            <li class="list-inline-item twitter"><a href="{{site.twitter_url}}" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>  </li>
                        {% endif %}

                        {% if site.instagram_url %}
                            <li class="list-inline-item instagram"><a href="{{site.instagram_url}}" target="_blank"><i class="fa fa-instagram"></i>Instagram</a></li>
                        {% endif %}

                        {% if site.pinterest_url %}
                            <li class="list-inline-item pinterest"><a href="{{site.pinterest_url}}" target="_blank"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                        {% endif %}

                        {% if site.medium_url %}
                            <li class="list-inline-item medium"><a href="{{site.medium_url}}" target="_blank"><i class="fa fa-medium"></i> Medium</a></li>
                        {% endif %}

                        {% if site.linkedin_url %}
                            <li class="list-inline-item youtube"><a href="{{site.linkedin_url}}" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                        {% endif %}

                        {% if site.youtube_url %}
                            <li class="list-inline-item youtube"><a href="{{site.youtube_url}}" target="_blank"><i class="fa fa-youtube"></i> YouTube</a></li>
                        {% endif %}
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="footer-bottom text-center">
                <div class="bottom-text pt-4">
                    <p> </p>
                    <address class="footer-address">@ Copyright - {{ site.time | date: '%Y' }}<span> | {{ site.title }} | <a href="{{site.url}}/privacy.html">Privacy Policy</a></span></address>
                    <p></p>
                </div>
                </div>
            </div>
        </div>
    </div>
    </footer>
    <!-- Footer Section End -->
