<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<head>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/skel.min.js"></script>
    <script src="{{ site.baseurl }}/js/skel-layers.min.js"></script>
    <script src="{{ site.baseurl }}/js/init.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166777735-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-166777735-1');
    </script>

    <!-- open graph -->

    <!-- CORE og -->
    <!-- Title, without branding. -->
    <meta property="og:title" content="Catch Fire Show" />
    <!-- Name, not URL (e.g. Apple, not apple.com) -->
    <meta property="og:site_name" content="Catch Fire" />
    <!-- URL. Should match canonical URL for SEO. Unique identifier for your article. -->
    <meta property="og:url" content="https://catchfire.show" />
    <!-- OPTIONAL description. 2-4 sentences. -->
    <meta property="og:description" content="The Catch Fire Show is a new podcast about dialing in on whom we want serve and then developing the skills to serve with passion." />
    <!-- Image for article. Facebook suggests at least 1200 x 630. -->
    <meta property="og:image" content="{{ site.baseurl }}/images/cf_banner_facebook.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="628" />


    <noscript>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/skel.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style-xlarge.css" />
    </noscript>
</head>
