
<!-- Header Start -->
<header>
<!-- Main Menu Section Start -->
<div class="menu-sec menu-sticky">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <a href="{{site.url}}"><img src="{{site.logo_url}}" alt="{{site.title}}"/></a>
                </div>
                <div class="logo sticky-logo">
                    <a href="{{site.url}}"><img src="{{site.sticky_logo_url}}" alt="{{site.title}}"/></a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="menu">
                    <nav id="main-menu" class="main-menu">
                        {% if page.layout == 'default' %}
                            {% include navigation.html %}
                        {% else %}
                            <ul>
                                <li><a href="{{site.url}}">Back to Home</a></li>
                            </ul>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Menu Section End -->

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '2616667851979132');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=2616667851979132&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    
</header>
<!-- Header End -->	