
<!-- Header Start -->
<header>
<!-- Main Menu Section Start -->
<div class="menu-sec menu-sticky">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <a href="{{site.url}}"><img src="{{site.logo_url}}" alt="{{site.title}}"/></a>
                </div>
                <div class="logo sticky-logo">
                    <a href="{{site.url}}"><img src="{{site.sticky_logo_url}}" alt="{{site.title}}"/></a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="menu">
                    <nav id="main-menu" class="main-menu">
                        {% if page.layout == 'default' %}
                            {% include navigation.html %}
                        {% else %}
                            <ul>
                                <li><a href="{{site.url}}">Back to Home</a></li>
                            </ul>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Menu Section End -->
</header>
<!-- Header End -->	