<!-- Instagram Grid Section Start -->	
      <div class="themeix-feature-section pb-100">
      <div class="container">
         <div class="row">
               <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">

                  <!-- LightWidget WIDGET -->
                  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
                  <iframe src="//lightwidget.com/widgets/009861d47799556ba7ce94fcd59b640c.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

               </div>
         </div>
      </div>
      </div>
<!-- Instagram Grid Section End -->
