<!-- Apps Feature Section Start -->	
      <div class="themeix-feature-section pt-100 pb-100">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="sec-title p-b-50">
                  <h2>Subscribe and Listen</h2>
               </div>
            </div>
            {% for location in site.data.listen_locations %}
               <div class="col-md-4 col-sm-4">
                  <div class="themeix-feature-item">
                     <a href="{{location.url}}" target="_blank">
                        <h2>
                           <i class="fa fa-{{location.fa}}"></i> <br/>
                           {{location.name}}
                        </h2>
                     </a>
                  </div>
               </div>
            {% endfor %}
         </div>
      </div>
      </div>
      <!-- Apps Feature Section End -->