<ul>
    {% for link in site.data.navigation %}
        <li>
        {% if link.url contains "https://" %}
        <a href="{{link.url}}" target="_blank">{{link.title}}</a>
        {% else %}
        <a href="{{link.url}}">{{link.title}}</a>
        {% endif %}
            {% if link.submenu %}
                <ul>
                    {% for sublink in link.submenu %}
                    <li><a href="{{sublink.url}}">{{sublink.title}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>