<div class="our-client">
    <div class="client-img">
        <a href="{{post.url}}">
            <img src="{{post.post_image}}" alt="{{post.title}}">
        </a>
    </div>
    <div class="details mt-3">
        <h2><a href="{{post.url}}">{{post.title}}</a>
            <br/>
            <small>
                {{post.bio}}
            </small>
        </h2>

        <span>
            <small>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                {{post.location}}
            </small>
        </span>
        <div class="client-border-shape mb-2"></div>
        <p class="profile-summary">{{post.summary}}</p>
    </div>

    {% if post.fire %}
    <div class="col-10 offset-1 bg-primary mt-3 mb-3 py-2 pl-4 text-white text-left">
        <i class="fa fa-fire pr-2"></i> {{post.fire}}
    </div>
    {% endif%}

    <div class="rating">

        {% if post.serve %}
        <h6 class="text-secondary">service</h6>
        <p> <b class="text-secondary">
                <i class="fa fa-user text-primary" aria-hidden="true"></i>
                who /</b>
            {{post.serve.who}}</p>

        <p> <b class="text-secondary">
                <i class="fa fa-random text-primary" aria-hidden="true"></i>
                how /</b>
            {{post.serve.how}}</p>

        {% endif%}

        {% if post.tags %}
        <p class="mb-0"> <b class="text-secondary">
                <i class="fa fa-cogs text-primary" aria-hidden="true"></i>
                skills used /</b>
            {% for skill in post.tags %}
            <a href="/tag/{{ skill | downcase | replace: ' ', '-' }}" class="badge rounded-pill bg-primary text-white">{{skill}}</a>
            {% endfor %}
        </p>
        {% endif%}

    </div>

</div>