<div class="col-md-8 offset-md-2 col-sm-12 offset-sm-0">
    <div class="themeix-box">
        <div class="single-post no-image bg-primary">
            <div class="blog-text text-secondary px-5 pt-5 pt-3">
                <div class="post-info">
                    <h2 class="text-secondary">Related Content:<br />
                        <a class="text-white" href="{{topic.url}}">{{topic.title | titlecase}}</a>
                    </h2>
                    <p>{{topic.excerpt}}</p>
                    <a href="{{topic.url}}" class="btn btn-outline-secondary btn-sm">Read more...</a>
                </div>
            </div>
        </div>
    </div>
</div>