<!-- video Section Start -->
<div class="container pt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="sec-title">
                <h2>Season 2 Preivew</h2>
                <p class="lead" style="margin-bottom: 30px;">begins October 7, 2020</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <!-- Start Season 2 Trailer -->
            <div class="video-responsive">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/q184O-Wkmtc" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <!-- End Season 2 Trailer -->

        </div>
    </div>
</div>
<!-- video Section End -->