---
layout: default
pagination:
enabled: true
---

{% assign contributor = site.contributors | where: 'contributor_id', page.contributor_id | first %}
{% assign contributor_posts = site.posts | where: 'contributor_id', page.contributor_id | sort: "title" %}
{% assign contributor_podcast = site.posts | where: 'contributor_id', page.contributor_id | where: 'categories',
'podcast' %}
{% assign contributor_clips = site.posts | where: 'contributor_id', page.contributor_id | where: 'categories', 'clip' %}

<!-- Breadcrumb Start  !-->
<div class="bradcrumb-sec slim">
  <div class="bradcrumb-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-4 col-lg-3">
        <img src="{{contributor.image}}" alt="{{contributor.name}}" />
      </div>
      <div class="col-8 col-lg-9 text-center">
        <div class="page-heading pt-lg-5 mt-lg-5 mt-md-5 pt-md-4 pt-sm-3 pt-5">
          <h1>{{contributor.name}} <br />
            {%if contributor.fire %}
            <small>
              <i class="fa fa-fire pr-2" aria-hidden="true"></i></b> {{contributor.fire}}</p>
            </small>
            {% endif %}
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End  !-->

<!-- Blog Section Start -->
<div id="blog" class="blog-sec pt-150  pb-150">
  <div class="container">

    <div class="row">
      <div class="col-md-3 col-sm-6 d-none d-sm-block">
        <h3 class="mb-0 d-none d-sm-block">{{contributor.name}}</h3>
        <p class="mt-0 d-none d-sm-block">{{contributor.location}}</p>
        <ul class="pl-0  d-none d-sm-block">
          {% if contributor.website %}
          <li class="list-inline-item"><a href="{{contributor.website}}" target="_blank"><i class="fa fa-globe"></i></a>
          </li>
          {% endif %}
          {% if contributor.facebook_url %}
          <li class="list-inline-item"><a href="{{contributor.facebook_url}}" target="_blank"><i
                class="fa fa-facebook"></i></a></li>
          {% endif %}
          {% if contributor.twitter_url %}
          <li class="list-inline-item"><a href="{{contributor.twitter_url}}" target="_blank"><i
                class="fa fa-twitter"></i></a></li>
          {% endif %}
          {% if contributor.linkedin_url %}
          <li class="list-inline-item"><a href="{{contributor.linkedin_url}}" target="_blank"><i
                class="fa fa-linkedin"></i></a></li>
          {% endif %}
        </ul>




      </div>
      <div class="col-md-6 col-sm-6">
        {% if page.content.size > 0 %}
        {{page.content}}
        {% else%}
        <p>{{contributor.bio}}</p>
        {% endif %}
      </div>

      <div class="col-md-3 col-sm-12">

        <div class="row bg-primary py-md-5 px-md-5 pt-4 text-center">
          <h1 class="col-md-12 col-6 text-white mb-4">
            <i class="fa fa-headphones pr-2"></i> {{contributor_podcast.size}}
          </h1>
          <h1 class="col-md-12 col-6 text-white">
            <i class="fa fa-file-movie-o pr-2"></i> {{contributor_clips.size}}
          </h1>
        </div>
      </div>

      <div class="col-12 mt-5 d-none d-sm-block">
        <hr>
      </div>

      <div class="col-12 mt-5">
        {% if contributor.serve %}
        <h6 class="text-secondary">service</h6>
        <p> <b class="text-secondary">
            <i class="fa fa-user text-primary" aria-hidden="true"></i>
            who /</b>
          {{contributor.serve.who}}</p>

        <p> <b class="text-secondary">
            <i class="fa fa-random text-primary" aria-hidden="true"></i>
            how /</b>
          {{contributor.serve.how}}</p>

        {% endif%}

        {% if contributor.skills %}
        <p class="mb-0"> <b class="text-secondary">
            <i class="fa fa-cogs text-primary" aria-hidden="true"></i>
            skills used /</b>
          {% for skill in contributor.skills %}
          <span class="badge rounded-pill bg-primary text-white">{{skill}}</span>
          {% endfor %}
        </p>
        {% endif%}
      </div>

      <div class="col-12 mt-5 d-none d-sm-block">
        <hr>
      </div>
    </div>

    <div class="row mt-5">
      {% for post in contributor_posts %}
      <div class="col-md-4 col-sm-6">
        <div class="themeix-box">
          <div class="single-post">
            <div class="single-post-thumb">
              <img src="{{post.post_image}}" alt="{{post.title}}" />
            </div>
            <div class="blog-text">
              <div class="post-info">
                <h2><a href="{{post.url}}">{{post.title}}</a></h2>

                <a class="btn btn-dark btn-sm disabled" href="#">{{post.categories}}</a>
              </div>
              <p>{{post.excerpt}}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
<!-- Blog Section End -->