---
layout: default
pagination:
  enabled: true
---

{% assign contributor = site.contributors | where: 'contributor_id', page.contributor_id | first %}
{% assign contributor_posts = site.posts | where: 'contributor_id', page.contributor_id | where: post.categories, 'podcast' %}
{% assign contributor_clips = null %}

<!-- Breadcrumb Start  !-->
<div class="bradcrumb-sec slim">
    <div class="bradcrumb-overlay"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12 text-center">
             <div class="page-heading">
                <h1>{{contributor.name}}</h1>
             </div>
          </div>
       </div>
    </div>
 </div>
<!-- Breadcrumb End  !-->

<!-- Blog Section Start -->
<div id="blog" class="blog-sec pt-150  pb-150">
  <div class="container">

    <div class="row">
      <div class="col-md-3 col-sm-6 d-none d-sm-block">
          <img src="{{contributor.image}}" alt="{{contributor.name}}"/>	
      </div>
      <div class="col-md-6 col-sm-6">
        <h3 class="mb-0 d-none d-sm-block">{{contributor.name}}</h3>
        <p class="mt-0 d-none d-sm-block">{{contributor.location}}</p> 
        <ul class="pl-0">
          {% if contributor.facebook_url %}
          <li class="list-inline-item"><a href="{{member.facebook_url}}"><i class="fa fa-facebook"></i></a></li>
          {% endif %}
          {% if contributor.twitter_url %}
          <li class="list-inline-item"><a href="{{member.twitter_url}}"><i class="fa fa-twitter"></i></a></li>
          {% endif %}
          {% if contributor.linkedin_url %}
          <li class="list-inline-item"><a href="{{member.linkedin_url}}"><i class="fa fa-linkedin"></i></a></li>
          {% endif %}
       </ul>
       <p>{{contributor.bio}}</p>
      </div>

      <div class="col-md-3 col-sm-12 d-none d-sm-block">
        <div class="row bg-primary py-md-5 px-md-5 pt-sm-4 text-center">
          <h1 class="col-md-12 col-sm-6 text-white mb-4">
            <i class="fa fa-headphones pr-2"></i> {{contributor_posts | size}}
          </h1>
          <h1 class="col-md-12 col-sm-6 text-white">
            <i class="fa fa-file-movie-o pr-2"></i> {{contributor_clips | size}}
          </h1>
        </div>
      </div>

      <div class="col-12 my-5">
        <hr>
      </div>
    </div>

      <div class="row">
          {% for post in contributor_posts %}
            <div class="col-md-4 col-sm-6">
              <div class="themeix-box">
                  <div class="single-post">
                    <div class="single-post-thumb">	
                        <img src="{{post.post_image}}" alt="{{post.title}}"/>	
                    </div>
                    <div class="blog-text">
                        <div class="post-info">
                          <h2><a href="{{post.url}}">{{post.title}}</a></h2>

                          <h2><a href="{{post.url}}">{{post.categories}}</a></h2>
                        </div>
                        <p>{{post.excerpt}}</p>
                    </div>
                  </div>
              </div>
            </div>
        {% endfor %}
        
      </div>
  </div>
</div>
<!-- Blog Section End -->