---
layout: default
---

<!-- Breadcrumb Start  !-->
<div class="bradcrumb-sec job {{page.class}}">
    <div class="bradcrumb-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="page-heading">
            <h1>{{page.title}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End  !-->

  
<section class="single-section p-t-30 p-b-60">
      <div class="container-fluid">
            <div class="row pt-5 pl-5">
              <div class="col-12 col-md-10 offset-md-1">
                <a class="btn btn-outline-secondary btn-sm" href="/jobs">
                  <i class="fa fa-angle-double-left"></i> back to jobs
                </a>
              </div>
            </div>
            <div class="entry-content m-b-60">
                  {{content}}
            </div>
      </div>
</section>


