<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h1 class="logo">Catch Fire Show</h1>
                <p>Get Catch Fire episodes in your inbox.</p>

                
                <!-- Begin Mailchimp Signup Form -->
<!-- <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style> -->
<div id="mc_embed_signup" class="signup">
<form action="https://show.us18.list-manage.com/subscribe/post?u=fced616372d180dde25297550&amp;id=e3e524efc9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fced616372d180dde25297550_e3e524efc9" tabindex="-1" value=""></div>
    
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button big">
    


    </div>
</form>
</div>

<!--End mc_embed_signup-->

            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
