---
layout: default
---
<div class="wrapper style1">
    <article class="container">
        <a class="button alt" href="{{ site.baseurl }}/episodes.html"><< return to episodes</a>
        <header class="major">
            <h2 class="post-title">{{ page.title }}</h2>
            <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}    
            {% if page.episode %}
                <br><br>
                Episode • {{ page.episode }}{% endif %}
            </p>
        </header>

        <section class="post-content">
            {{ content }}


            {% if page.sc_track_id %}
            <hr>
            <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" 
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{page.sc_track_id}}&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"></iframe>
            {% endif %}
        </section>
        
        <footer>
            {% if page.previous %}
            <a href="{{ page.previous.url }}" class="float-left">&larr; Previous post</a> {% endif %}
            {% if page.next %}
            <a href="{{ page.next.url }}" class="float-right">Next post &rarr;</a> {% endif %}
        </footer>

    </article>

</div>
