---
layout: default
comments: true
---
<!-- Breadcrumb Start  !-->
<div class="bradcrumb-sec slim">
   <div class="bradcrumb-overlay"></div>
   <div class="container">
      <div class="row">
         <div class="col-md-12 text-center">
            <div class="page-heading">
               <h1>{{page.title}}</h1>
               {% if page.tags.size > 0 %}
               <p class="lead text-white">
                  /
                  {% for tag in page.tags %}
                  {{tag}} /
                  {% endfor %}
               </p>
               {% endif %}
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Breadcrumb End  !-->

<!-- Blog Details Start  !-->
<div class="blog-details pt-5">
   <div class="container">
      <div class="row">
         <div class="col-md-8 col-sm-12">
            <div class="blog-detail">

               <div class="entry-content">
                  {{page.content}}
               </div>
               <div class="share-post clearfix m-b-60">
                  <div class="blog-detail-button">
                     <span class="share-button">Share</span>
                  </div>
                  <div class="share-button-icons">
                     <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                        title="Share on Facebook">
                        <i class="fa fa-facebook"></i>
                     </a>
                     <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                        title="Share on Twitter">
                        <i class="fa fa-twitter"></i>
                     </a>
                     <a href="http://www.tumblr.com/share/link?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
                        title="Share on Tumblr">
                        <i class="fa fa-tumblr"> </i>
                     </a>
                  </div>
               </div>

            </div>
         </div>

         <!-- Sidebar Start -->
         <div class="col-md-4 col-sm-12 pl-md-5">
            <div class="row mb-3">
               <h3 class="col-12">Explore Jobs</h3>
            </div>
            <!-- Creative -->
            <div class="row pb-5">
               <h5 class="col-12 text-secondary">Creative</h5>
               {% assign jobs = site.data.jobs.creative | where: 'publish', 'x'  | where: 'has_expired', 'false' %}
               <div class="col-12">
                  <div class="list-group">
                    {% for job in jobs limit:3 %}
                    <a href="/jobs/creatives" class="list-group-item list-group-item-action">{{job.job_title | titlecase}} <small>{{
                        job.inferred_city }}, {{
                        job.inferred_state }}</small></a>
                    {% endfor %}
                  </div>
                </div>
             </div>

            <!-- Technology -->
            <div class="row pb-5">
               <h5 class="col-12 text-secondary">Technology</h5>
               {% assign jobs = site.data.jobs.technologists | where: 'publish', 'x'  | where: 'has_expired', 'false' %}
               <div class="col-12">
                  <div class="list-group">
                    {% for job in jobs limit:3 %}
                    <a href="/jobs/technologists" class="list-group-item list-group-item-action">{{job.job_title | titlecase}} <small>{{
                        job.inferred_city }}, {{
                        job.inferred_state }}</small></a>
                    {% endfor %}
                  </div>
                </div>
             </div>

            <!-- Featured -->
            <div class="row pb-5">
               <h5 class="col-12 text-secondary">Featured</h5>
               {% assign jobs = site.data.jobs.featured | where: 'publish', 'x'  | where: 'has_expired', 'false' %}
               <div class="col-12">
                  <div class="list-group">
                    {% for job in jobs limit:3 %}
                    <a href="/jobs" class="list-group-item list-group-item-action">{{job.job_title | titlecase}}</a>
                    {% endfor %}
                  </div>
                </div>
             </div>

         </div>
         <!-- Sidebar End -->
      </div>

      <row class="mt-0 pt-0">
         <div class="col-12 mt-0 pt-0 mb-5">
            <hr class="mb-5">
            {% include tags.html %}
         </div>
      </row>
   </div>
</div>
<!-- Blog Details End  !-->